{{ define "head" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel='shortcut icon' type='image/x-icon' href='styles/favicon.ico' />
    <link rel="stylesheet" href="styles/indexstyle.css" />
    <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css" />
    <!-- <style>
        body {
            background-color: red;
        }
    </style> -->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Leaf</title>
</head>

<body>
   

<!-- <body>
    <nav class="navbar navbar-dark bg-primary mb-3">
        <div class="container">
            <a href="#" class="navbar-brand">Leaf Peng</a>
        </div>
        {{ if . }}
            <a class="btn btn-bd-download d-none d-lg-inline-block mb-3 mb-md-0 ml-md-3" href="/register">LiveChat</a>
            <a class="btn btn-bd-download d-none d-lg-inline-block mb-3 mb-md-0 ml-md-3" href="/logout">Logout</a>
        {{ else }}
            <a class="btn btn-bd-download d-none d-lg-inline-block mb-3 mb-md-0 ml-md-3" href="/register">Register</a>
            
        {{ end }}

    </nav> -->
{{ end }}


