
{{ template "head" . }}

<nav class="navbar navbar-dark bg-primary mb-3">
    <a class="navbar-brand" href="#">Leaf Peng</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="/profile">Profile</a>
        <a class="nav-item nav-link" href="/livechat">Livechat</a>
        <a class="nav-item nav-link" href="/logout">Logout</a>
        <!-- <a class="nav-item nav-link" href="/delete">Deleteaccount</a> -->
        
        <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">{{ .UserName }}  &#128525;</a>
      </div>
    </div>
</nav>

    <!-- <nav class="navbar navbar-dark bg-primary mb-3">
        <div class="container">
            <a href="#" class="navbar-brand">Leaf Peng</a>
        </div>
            <a class="btn btn-bd-download d-none d-lg-inline-block mb-3 mb-md-0 ml-md-3" href="/livechat">LiveChat</a>
            <a class="btn btn-bd-download d-none d-lg-inline-block mb-3 mb-md-0 ml-md-3" href="/logout">Logout</a>
    </nav> -->

    <h2>Hi  {{ .UserName }}  !</h2>
    
    <form action="/update" method="POST" class="profile">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="username">UserName</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="{{ .UserName }}">
            <div class="mx-auto mt-3">
                <button type="submit" class="btn btn-primary btn-lg">Update</button>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="{{ .Email }}">
            <div class="mx-auto mt-3">
                <button type="submit" formaction="/delete" class="btn btn-primary btn-lg">DeleteAccount</button>
            </div>
          </div>
        </div>        
      </form>
{{ template "footer" }}
